@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --yellow: #fcc602;
    --purple: #b100e8;
    --black: #1e293b;
    --blue: #3b82f6;
    --red: #fa4659;
}

h1, h2, h3, h4, h5, p {
    color: white;
}

.app > div {
    min-width: 1280px;
}

.btn-primary {
    background-color: #3b82f6;
}

.lateral-bounce {

    animation: animateRight;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

}

@keyframes animateRight {
 
    0% {
        transform: translateX('-10%');
    }
    50% {
        transform: translateX('5%');
    }
    100% {
        transform: translateX('-10%');
    }

}
