@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --yellow: #fcc602;
    --purple: #b100e8;
    --black: #1e293b;
    --blue: #3b82f6;
    --red: #fa4659;
}

h1, h2, h3, h4, h5, p {
    color: white;
}

.navbar {
    left: 50%;
    transform: translateX(-50%);
    min-width: 353px;
}

.app > div {
    max-width: 1280px;
    width: 100%;
}

.btn-primary {
    background-color: #3b82f6;
}

.btn-primary:hover .rocket-icon {
    animation: shake;
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
    animation-iteration-count: 2;
}

.lateral-bounce {
    animation: to-right;
    animation-duration: 2000ms;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
    animation-iteration-count: infinite;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes to-right {
    0%   { transform: translateX(0); }
    50%  { transform: translateX(-20px); }
    100% { transform: translateX(0); }
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(-12deg); }
    100% { transform: rotate(0deg); }
  }